{% extends 'basedashbord.html.twig' %}

{% block title %}Hello ManagerController!{% endblock %}
{% block stylesheets %}
    <style>
        #list a{
            margin: 10px;
        }

        .return {
            margin: 10px;
        }
       .card border-primary{
        color: red;
       }
    </style>
{% endblock %}

{% block body %}
 
 <section class="about" >
 <div class="row">
   <div class="bar-chart"><h7>User</h7>
        <div class="bar" style="height: 50%;">Janvier</div>
        <div class="bar" style="height: 70%;">Février</div>
        <div class="bar" style="height: 90%;">Mars</div>
        <div class="bar" style="height: 40%;">Avril</div>
        <div class="bar" style="height: 60%;">Mai</div>
    </div>
    <br>
      <div class="bar-chart"><h7>Book</h7>
        <div class="bar" style="height: 50%;">Janvier</div>
        <div class="bar" style="height: 70%;">Février</div>
        <div class="bar" style="height: 90%;">Mars</div>
        <div class="bar" style="height: 40%;">Avril</div>
        <div class="bar" style="height: 60%;">Mai</div>
    </div>
    <br>
 </div>
  

 <div class="row">
    <div class="bar-chart"><h7>Author</h7>
            <div class="bar" style="height: 50%;">Janvier</div>
            <div class="bar" style="height: 70%;">Février</div>
            <div class="bar" style="height: 90%;">Mars</div>
            <div class="bar" style="height: 40%;">Avril</div>
            <div class="bar" style="height: 60%;">Mai</div>
        </div>
        <br>
    <div class="bar-chart"><h7>Editor</h7>
            <div class="bar" style="height: 50%;">Janvier</div>
            <div class="bar" style="height: 70%;">Février</div>
            <div class="bar" style="height: 90%;">Mars</div>
            <div class="bar" style="height: 40%;">Avril</div>
            <div class="bar" style="height: 60%;">Mai</div>
        </div>
        <br>
 </div>
 


</section>  
     
{% endblock %}
