{% extends 'base.html.twig' %}

{% block title %}Admin Author {% endblock %}

{% block body %}
<style>
        label.required:before {
            content: "* ";
        }
</style>
     <section id="bodyall">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-5">
                    <h1>Author</h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
