{% extends 'base.html.twig' %}

{% block title %}Editeur{% endblock %}

{% block body %}
<style>
    label.required:before {
         content: "* ";
    }
</style>
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-5">
                        <h1>Editeur</h1>
                        <ul class="list-group list-group-flush"> 
                            {% for items in editor %}
                                <div class="card mb-1">
                                    <div class="card-body">
                                        <div class="card-title d-flex justify-content-between">
                                        <a href="{{ path('app_admin_editor_show', {id: items.id}) }}" class="stretched-link link-dark">
                                                <h4 class="mb-1">{{ items.name }}</h4>
                                            </a>
                                            <small class="text-muted">Identifiant: {{items.id}}</small>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <li>Pas d'Editeur</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
{% endblock %}
