{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}

{% block body %}

            <section id="about">
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-8">
                            <h2>Ce site est en maintenance</h2>
                            <p class="lead">Veuillez patienter</p>
                        </div>
                    </div>
                </div>
            </section>
    </div>
{% endblock %}
